# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Arquivos de cache
*.cache
*.log

# Rider / VS Code (caso use no futuro)
.idea/
.vscode/

# Arquivos do sistema
Thumbs.db
.DS_Store

# Blazor / Web
wwwroot/_framework/

# Outros
*.db